{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>prueba</title>
    <link rel="stylesheet" href="{% static 'css/post.css' %}">
</head>
<body>
    <h1>Mi Galería de Imágenes</h1>

    <div class="post">
        <h1>Los pelícanos</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae dignissimos sapiente minus quos quod molestias totam numquam molestiae reiciendis animi nobis tenetur ea aliquid natus enim ab, quam repellendus quia.</p>
        <img  width="100px" src="https://media.istockphoto.com/id/1262955892/es/foto/gran-pel%C3%ADcano-blanco.jpg?s=612x612&w=0&k=20&c=PctVBsrHXN29yB-ojN8YbbMuy7X8kAOKE38oWEDfl1A=" alt="Imagen 1">
    </div>

    <div class="post">
        <h1>Los capibaras</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates quae deserunt tenetur maiores possimus dignissimos, maxime architecto alias cupiditate quia qui rem harum officiis fuga voluptatem voluptatum, labore, laborum illum.</p>
        <img  width="100px" src="https://content.nationalgeographic.com.es/medio/2023/02/15/istock_cb08e27f_1065822636_230215173746_2000x1463.jpg" alt="Imagen 2">
    </div>

    <div class="post">
        <h1>Los osos</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, hic? Cupiditate quis quasi nostrum, laborum quod eos veritatis ab quia sit tempora ducimus officia a. Ipsam accusantium iusto officiis odio?</p>
        <img  width="100px" src="https://static.nationalgeographicla.com/files/styles/image_3200/public/grizzly-bear_01.adapt_.1900.1.webp?w=1600&h=1062" alt="Imagen 3">
    </div>
</body>
</html>